@import "../../global.scss";


.tocard {
  width: 275px;
  height: 260px;
  border-radius: 16px;
  border: 1px solid #0000001a;
  padding: 30px 24px 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 12px 0px #00000014;
}

.toCardTitle {
  @include Font24B;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
}

.countText {
  @include Font16B;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: left;
}

.countText span {
  @include Font16R;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: left;
}

.profileImgs {
  display: flex;
  align-items: center;
  color: #000;
  margin: 12px 0 12px;
}

// 첫번째 자식요소를 제외하고
.profileImgs img:not(:first-of-type){
  margin: 0 0 0 -8px;
}

.profileImg {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1.5px solid $white;
  background: $white;
}

.persons {
  margin: -6px;
  padding: 5px 6px;
  border-radius: 40px;
  background: $white;
  text-align: center;
}

.line {
  width: 227px;
  height: 1px;
  margin: 43px 0 16px;
  background: rgba(0, 0, 0, 0.12);
}

.emojiItems {
  display: flex;
  gap: 8px;
  color: #fff;
}

.emoji {
  padding: 8px 12px;
  flex-direction: column;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
}

.emoji div{
  @include Font16R;
}