@import "../../global.scss";

.listwrap {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: $tablet-Max-width) {
    width: 100%;
  }
}

.cardList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  @media (max-width: $tablet-Max-width) {
    overflow-x: auto;
    padding: 24px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.listBtn {
  width: 40px;
  height: 40px;
  padding: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0 -20px;
  border: 1px solid rgba(218, 220, 223, 1);
  background-color: rgba(255, 255, 255, 0.9);
  stroke-width: 1px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  @media (max-width: $tablet-Max-width) {
    display: none;
  }

  @media (max-width: $mobile-Max-width) {
    display: none;
  }
}

.listBtnL {
  margin: 0 0 0 -20px;
  position: absolute;
  z-index: 1;
}

.listBtnR {
  position: absolute;
  left: 100%;
}
