@import "../../global.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-size: cover;
  min-height: 101vh;

  &.beige {
    background-color: $orange2;
  }

  &.purple {
    background-color: $purple2;
  }

  &.blue {
    background-color: $blue2;
  }

  &.green {
    background-color: $green2;
  }
}
