@import '../../global.scss';

.frame {
  width: 384px;
  height: 280px;
  padding: 24px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: end;

  @media (max-width: 1199px) {
    width: 352px;
    height: 284px;
  }

  @media (max-width: 787px) {
    width: 320px;
    height: 230px;
  }

  &.empty {
    justify-content: center;
    align-items: center;
  }
}

.circle {
  $W_H: 56px;
  background-color: $gray5;
  width: $W_H;
  height: $W_H;
  padding: 16px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
