@import "../../global.scss";

@mixin messageText {
  u {
    text-decoration: underline;
  }
  s {
    text-decoration: line-through;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  &.nanumMyeongjo {
    font-family: $NanumMyeongjo;
    & * {
      font-family: $NanumMyeongjo;
    }
  }

  &.notoSans {
    font-family: $NotoSansKR;
    & * {
      font-family: $NotoSansKR;
    }
  }

  &.pretendard {
    font-family: $font-family;
    & * {
      font-family: $font-family;
    }
  }

  &.nanumSonPyeonJiCe {
    font-family: $Handletter;
    & * {
      font-family: $Handletter;
    }
  }
}

.frame {
  width: 384px;
  height: 280px;
  padding: 24px;
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 16px;
  border: none;
  text-align: inherit;
  cursor: pointer;

  @media (max-width: $tablet-Max-width) {
    width: 352px;
    height: 284px;
  }

  @media (max-width: $mobile-Max-width) {
    width: 320px;
    height: 230px;
  }

  &.add {
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: 1px solid $gray4;
    background-color: $gray1;

    .circle {
      background-color: $gray7;
      border: 1px solid $gray8;
    }
  }

  &:hover {
    outline: 1px solid $gray3;

    .circle {
      background-color: $gray6;
    }
  }

  &:active {
    background-color: $gray1;
    outline: 1px solid $gray5;

    .circle {
      background-color: $gray7;
    }
  }
}

.deleted {
  border-radius: 6px;
  border: 1px solid $gray3;
  position: absolute;
  top: 28px;
  right: 24px;
  width: 42px;
  height: 42px;
  background: $white url("../../assets/deleted.png") 50% 50% no-repeat;
  color: transparent;
  z-index: 1;
  cursor: pointer;

  &:hover {
    background-color: $gray1;
  }

  &:focus {
    border-color: $gray5;
    outline: none;
  }
}

.circle {
  $W_H: 56px;
  background: $gray5 url("../../assets/plus.svg") 50% 50% no-repeat;
  color: transparent;
  width: $W_H;
  height: $W_H;
  padding: 16px;
  border-radius: 100px;
}

.message {
  color: $gray6;
  width: 336px;
  height: 83px;
  margin-bottom: 23px;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  @include Font18R;
  @include messageText;

  @media (max-width: $tablet-Max-width) {
    width: 304px;
    margin-bottom: 26px;
  }

  @media (max-width: $mobile-Max-width) {
    width: 272px;
    height: 44px;
    margin-bottom: 12px;
    -webkit-line-clamp: 2;

    @include Font15R;
  }
}
