@import "../global.scss";

.header {
  display: flex;
  padding: 12px 24px;
  background-color: $white;
  border-bottom: 1px solid #ededed;
  justify-content: center;
  height: $headerH;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  color: #4a494f;
  font-family: Poppins;
  font-size: 19.971px;
  line-height: normal;
  &::before {
    content: "";
    background-image: url("../assets/Rolling_icon.png");
    display: inline-block;
    width: 27.818px;
    height: 27.658px;
    margin-right: 8px;
  }
}

.create_btn {
  width: 157px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border: 1px solid $gray3;
  border-radius: 5px;
  color: $gray9;
  @include Font16B;

  &:hover {
    background-color: $gray1;
  }

  &:focus {
    background-color: $white;
    border: 1px solid $gray5;
  }
}
