@import "../global.scss";

.PostMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
}

.to {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 175% */
  letter-spacing: -0.24px;
  margin-top: 60px;
  margin-bottom: 12px;
}

.choose {
  margin-top: 40px;
  @include Font24B;
}

p {
  color: $gray5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
  @include Font16R;
}
.toggle {
  margin-top: 20px;
}

.toggleButton {
  display: inline-flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  width: 122px;
  height: 40px;
  @include Font16R;
}

.toggleButton:hover {
  cursor: pointer;
}

// 선택되지 않은 버튼
.unchecked {
  border: 1px solid $gray2;
  background: $gray2;
}
//선택된 버튼
.checked {
  border: 2px solid $purple6;
  background: $white;
  color: $purple6;
  @include Font16B;
}

.btn__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}