@import "../global.scss";

.PostMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $headerH;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.to {
  margin-top: 60px;
  margin-bottom: 12px;
  @include Font24B;

  @media (max-width: $mobile-Max-width) {
    margin-top: 20px;
  }
}

.choose {
  margin-top: 40px;
  @include Font24B;
}

.text {
  color: $gray5;
  @include Font16R;
}

.toggle {
  margin-top: 20px;
}

.toggleButton {
  display: inline-flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  width: 122px;
  height: 40px;
  @include Font16R;
  cursor: pointer;
}

// 선택되지 않은 버튼
.unchecked {
  border: 1px solid $gray2;
  background: $gray2;
}
//선택된 버튼
.checked {
  border: 2px solid $purple6;
  background: $white;
  color: $purple6;
  @include Font16B;
}

.btn__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.btns {
  display: flex;
  gap: 12px;

  @media (max-width: $mobile-Max-width) {
    margin-bottom: 40px;
  }
}
