@import "../global.scss";

$mobile-height: 104px;

.header {
  display: flex;
  padding: 13px 24px;
  justify-content: center;
  height: $subheaderH;
  border-bottom: 1px solid #ededed;
  background-color: $white;
  position: fixed;
  top: $headerH;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: $mobile-Max-width) {
    top: 0;
    height: $mobile-height;
    padding: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;

  @media (max-width: $mobile-Max-width) {
    flex-wrap: wrap;
  }
}

.backIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.back_to {
  display: flex;
  align-items: center;
  gap: 15px;
  @media (max-width: $mobile-Max-width) {
    gap: 10px;
    margin-left: 15px;
  }
}

.toPerson {
  width: 227px;
  color: $gray8;
  @include Font28B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $mobile-Max-width) {
    @include Font18B;
    height: calc(#{$mobile-height} / 2);
    display: flex;
    align-items: center;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-Max-width) {
    height: calc(#{$mobile-height} / 2);
    width: 100%;
    border-top: 1px solid $gray2;
  }
}

.mobile_border {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile-Max-width) {
    margin-left: 15px;
  }
}

.profiles {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-Max-width) {
    display: none;
  }
}

.profileImgs {
  display: flex;
  margin-right: 25px;
}

.profileCase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: -12px;
  border: 1.4px solid $white;
  border-radius: 140px;
  overflow: hidden;
  &.rest {
    background-color: $white;
    border: 1px solid #e3e3e3;
    color: #484848;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

.profileImg {
  object-fit: cover;
}

.howMany {
  color: $gray9;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  & .people {
    font-weight: 700;
  }
}

.bar {
  display: flex;
  align-items: center;
  color: $gray2;
  margin: 10px;
}

.bar2 {
  display: flex;
  align-items: center;
  color: $gray2;
  margin: 13px;
}

.emoji {
  border-radius: 32px;
  min-width: 66px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  color: $white;
  background-color: rgba($color: $black, $alpha: 0.54);
  margin: 4px;

  @media (max-width: $mobile-Max-width) {
    width: 55px;
    height: 32px;
    margin: 2px;
    @include Font14R;
  }
}

.emoji_box {
  display: flex;
  @media (max-width: $mobile-Max-width) {
    min-width: 222px;
    justify-content: flex-end;
  }
}

.arrowButton {
  background-image: url("../assets/arrowButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  margin-right: 4px;
}

.extraReactions {
  padding: 18px;
  width: 264px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
  background-color: $white;
  box-shadow: 0px 2px 12px 0px rgba($color: $black, $alpha: 0.08);
  position: absolute;
  top: 40px;
  right: -12.5px;
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
}

.addIcon {
  background-image: url("../assets/emojiAdd.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 22px;
  height: 21px;
}

.add {
  border-radius: 6px;
  border: 1px solid $gray3;
  width: 88px;
  height: 36px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $gray1;
  }

  @media (max-width: $mobile-Max-width) {
    width: 36px;
    height: 32px;
  }
}

.addTitle {
  @media (max-width: $mobile-Max-width) {
    display: none;
  }
}

.emojiPickerContainer {
  position: absolute;
  top: $headerH;
  z-index: 1;

  @media (max-width: $mobile-Max-width) {
    top: $mobile-height;
  }
}

.share {
  background-image: url("../assets/share.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid $gray3;
  width: 56px;
  height: 36px;

  cursor: pointer;
  &:hover {
    background-color: $gray1;
  }

  @media (max-width: $mobile-Max-width) {
    width: 36px;
    height: 32px;
  }
}

.hide {
  @include hide;
}
