@import '../global.scss';

.header {
  display: flex;
  padding: 13px 24px;
  justify-content: center;
  height: 69px;
  border-bottom: 1px solid #ededed;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.toPerson {
  width: 227px;
  color: $gray8;
  @include Font28B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profiles {
  display: flex;
  width: 76px;
  margin-right: 11px;
}

.profileCase {
  width: 28px;
  height: 28px;
  margin-right: -12px;
  border: 1.4px solid $white;
  border-radius: 140px;
  overflow: hidden;
  &.rest {
    background-color: $white;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

.profileImg {
  object-fit: cover;
}

.howMany {
  color: $gray9;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  & .people {
    font-weight: 700;
  }
}

.bar {
  height: 28px;
  color: $gray2;
  margin: 13px;
}

.bar2 {
  height: 28px;
  color: $gray2;
  margin: 13px;
}

.emoji {
  display: inline-block;
  border-radius: 32px;
  min-width: 66px;
  height: 36px;
  padding: 8px 12px;
  color: $white;
  background-color: rgba($color: $black, $alpha: 0.54);
  border: 1px solid rgba($color: $black, $alpha: 0.54);
  margin: 4px;
}

.arrowButton {
  background-image: url('../assets/arrowButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  border: none;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}

.extraReactions {
  padding: 18px;
  width: 264px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
  background-color: $white;
  box-shadow: 0px 2px 12px 0px rgba($color: $black, $alpha: 0.08);
  position: absolute;
  top: 40px;
  right: -12.5px;
  z-index: 4;
}

.add {
  background-image: url('../assets/emojiAdd.svg');
  background-repeat: no-repeat;
  background-position: 15px;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid $gray3;
  width: 88px;
  height: 36px;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.emojiPickerContainer {
  position: absolute;
  left: 1300px;
  top: 130px;
  z-index: 1;
}

.share {
  background-image: url('../assets/share.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid $gray3;
  width: 56px;
  height: 36px;
  cursor: pointer;
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 68px;
  }

  .nav {
    max-width: 768px;
    width: 100%;
  }

  .profiles,
  .bar,
  .howMany {
    display: none;
  }

  .emojiPickerContainer {
    position: absolute;
    left: 310px;
    top: 130px;
    z-index: 1;
  }
}

//mobile
@media (min-width: 375px) and (max-width: 767px) {
  .header {
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .toPerson {
    @include Font18B;
  }

  .add {
    width: 36px;
    height: 32px;
    background-position: center;
  }
  .addTitle {
    display: none;
  }

  .emojiPickerContainer {
    position: absolute;
    left: 10px;
    top: 170px;
    z-index: 1;
  }

  .share {
    width: 36px;
    height: 32px;
  }

  .profiles,
  .bar,
  .howMany {
    display: none;
  }
}
