$purple1: #f8f0ff;
$purple2: #ecd9ff;
$purple3: #dcb9ff;
$purple4: #c894fd;
$purple5: #ab57ff;
$purple6: #9935ff;
$purple7: #861dee;
$purple8: #6e0ad1;
$purple9: #5603a7;
$orange1: #fff0d6;
$orange2: #ffe2ad;
$orange3: #ffc583;
$orange4: #ffae65;
$orange5: #ff8832;
$blue1: #e2f5ff;
$blue2: #b1e4ff;
$blue3: #7cd2ff;
$blue4: #34b9ff;
$blue5: #00a2fe;
$green1: #e4fbdc;
$green2: #d0f5c3;
$green3: #9be282;
$green4: #60cf37;
$green5: #2ba600;
$gray1: #f6f6f6;
$gray2: #eeeeee;
$gray3: #cccccc;
$gray4: #999999;
$gray5: #555555;
$gray6: #4a4a4a;
$gray7: #3a3a3a;
$gray8: #2b2b2b;
$gray9: #181818;
$white: #ffffff;
$black: #000000;
$error: #dc3a3a;
$surface: #f6f8ff;

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Noto/NotoSansKR-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NanumMyeongjo";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Handletter";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-family: "Pretendard", sans-serif;
$NotoSansKR: "NotoSansKR", serif;
$NanumMyeongjo: "NanumMyeongjo", serif;
$Handletter: "Handletter", serif;

$tablet-Max-width: 1199px;
$mobile-Max-width: 767px;

@mixin font_bold {
  font-family: $font-family;
  font-weight: 700;
}

@mixin font_regular {
  font-family: $font-family;
  font-weight: 400;
}

@mixin Font28B {
  @include font_bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.28px;
}

@mixin Font24B {
  @include font_bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.24px;
}

@mixin Font24R {
  @include font_regular;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.24px;
}

@mixin Font20B {
  @include font_bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

@mixin Font20R {
  @include font_regular;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

@mixin Font18B {
  @include font_bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.18px;
}

@mixin Font18R {
  @include font_regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.18px;
}

@mixin Font16B {
  @include font_bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.16px;
}

@mixin Font16R {
  @include font_regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.16px;
}

@mixin Font15B {
  @include font_bold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.15px;
}

@mixin Font15R {
  @include font_regular;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.15px;
}

@mixin Font14B {
  @include font_bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.07px;
}

@mixin Font14R {
  @include font_regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.07px;
}

@mixin Font12R {
  @include font_regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.06px;
}
