@import "../../global.scss";

.message {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 720px;
  margin: 40px 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    @include Font24B;
    color: $gray9;
  }
}

.btns {
  display: flex;
  gap: 12px;
}
